{% extends 'base/base.html' %}

{% block menu %}{% endblock menu %}

{% block content %}
{% load static %}


<div class= "row mt-5">
    <div class= "col-lg-8 col-md-10 col-sm-12 m-auto card o-hidden border-0 shadow-lg p-5 my-5">
    <h3 class="loginTitle mb-1">¿Estás seguro que deseas eliminar a {{ object }}?</h3>
    <p class=" m-4 mt-0 text-dark">Eliminarás también todos los combates en los que ha participado y por tanto las estadísticas de sus contrincantes en éstos.</p>
    <form method="post">
        {% csrf_token %}
        <div class="row">
                <input type="submit" class="btn btn-danger col-lg-5 col-md-7 col-sm-7 m-auto mt-1" value="Eliminar">
                <a class="btn btn-dark col-lg-5 col-md-7 col-sm-7 m-auto mt-1" href="{% url 'luchadores:luchadores-list'%}">Volver</a>
        </div>
      </form>
  </div>
  </div>
{% endblock content %}

{% block footer %}{% endblock footer %}

{% block javascript %}
<script>
    window.addEventListener("scroll", function() {
        var menu = document.querySelector(".menu");
        var backgrounds = document.querySelectorAll(".background");

        var scrolled = false;
        for (var i = 0; i < backgrounds.length; i++) {
            var rect = backgrounds[i].getBoundingClientRect();
            if (rect.top <= menu.offsetHeight && rect.bottom >= menu.offsetHeight) {
                scrolled = true;
                break;
            }
        }

        if (scrolled) {
            menu.classList.remove("scrolled");
        } else {
            menu.classList.add("scrolled");
        }
    });

    $(document).ready(function() {
        $(".menu").fadeIn(2000);
    });
</script>
{% endblock javascript %}