{% extends 'base/base.html' %}

{% block content %}
{% load static %}

<h1>Eliminar luchador</h1>
<div class= "row">
    <div class= "col-lg-8 col-md-12 col-sm-12 offset-lg-2 offset-md-0 offset-sm-0 card o-hidden border-0 shadow-lg p-5 my-5">
    <h3 class="loginTitle mb-3">¿Estás seguro que deseas eliminar a {{ object }}?</h3>
    <form method="post">
        {% csrf_token %}
        <input type="submit" class="btn btn-danger" value="Eliminar">
        <a class="btn btn-dark" href="{% url 'luchadores:luchadores-list'%}">Volver</a>
      </form>
  </div>
  </div>
{% endblock content %}

{% block javascript %}
<script>
    window.addEventListener("scroll", function() {
        var menu = document.querySelector(".menu");
        var backgrounds = document.querySelectorAll(".background");

        var scrolled = false;
        for (var i = 0; i < backgrounds.length; i++) {
            var rect = backgrounds[i].getBoundingClientRect();
            if (rect.top <= menu.offsetHeight && rect.bottom >= menu.offsetHeight) {
                scrolled = true;
                break;
            }
        }

        if (scrolled) {
            menu.classList.remove("scrolled");
        } else {
            menu.classList.add("scrolled");
        }
    });

    $(document).ready(function() {
        $(".menu").fadeIn(2000);
    });
</script>
{% endblock javascript %}