{% extends 'base/base.html' %}

{% block menu %}{% endblock menu %}

{% block content %}
{% load static %}



<div class= "row bgt">
    <div class= "col-lg-8 col-md-12 col-sm-12 offset-lg-2 offset-md-0 offset-sm-0 card o-hidden border-0 shadow-lg p-5 my-5">
        <h1 class = "mma mb-5">{{ object.luchador_rojo|lower }} - {{ object.luchador_azul|lower }}</h1>
        <div class="col-10 m-auto">
            <ul class="list-group list-group-flush">
                <li class="list-group-item m-2"><b>Luchador rojo:</b> {{ object.luchador_rojo }}</li>
                <li class="list-group-item m-2"><b>Luchador azul:</b> {{ object.luchador_azul }} </li>
                <li class="list-group-item m-2"><b>Fecha:</b> {{ object.fecha }} </li>
                <li class="list-group-item m-2"><b>Rondas:</b> {{ object.round_max }} </li>
                <li class="list-group-item m-2"><b>Ganador:</b> {{ object.resultado }}</li>
            </ul>
        </div>
        {% comment %} <p>Fecha de nacimiento: {{ object.nacimiento }}</p>
  <p>Peso: {{ object.peso }} kg</p>
  <p>Altura: {{ object.altura }} m</p>
  <p>Alcance: {{ object.alcance }} m</p>
  <p>Victorias: {{ object.victorias }}</p>
  <p>{{ object. }}</p>
  <p>Derrotas: {{ object.derrotas }}</p> {% endcomment %}
  <!-- agregar más información del luchador aquí -->
  <div class="mt-5 col-12 text-center">
    <a href="{% url 'combates:combates-list' %}" class="btn btn-dark col-lg-4 col-md-8 col-sm-8 mt-2 m-auto">Volver</a>
</div>
</div>

{% endblock content %}

{% block javascript %}
<script>
    window.addEventListener("scroll", function() {
        var menu = document.querySelector(".menu");
        var backgrounds = document.querySelectorAll(".background");

        var scrolled = false;
        for (var i = 0; i < backgrounds.length; i++) {
            var rect = backgrounds[i].getBoundingClientRect();
            if (rect.top <= menu.offsetHeight && rect.bottom >= menu.offsetHeight) {
                scrolled = true;
                break;
            }
        }

        if (scrolled) {
            menu.classList.remove("scrolled");
        } else {
            menu.classList.add("scrolled");
        }
    });

    $(document).ready(function() {
        $(".menu").fadeIn(2000);
    });
</script>
{% endblock javascript %}