@font-face {
    font-family: 'DreamMMA';
    src: url('/static/base/fonts/MMA.ttf') format('truetype');
}
@font-face {
    font-family: 'poppins';
    src: url('/static/base/fonts/Poppins-Medium.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@600&family=Montserrat:wght@100;500&display=swap');

*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
font-family: 'Encode Sans Condensed', sans-serif;
}

body{
    /* font-family: 'poppins'; */
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Encode Sans Condensed', sans-serif;
}

body::selection {
    background-color: red;
    color: white;
    text-decoration: underline;
}



.menu {
    background-color: rgba(255, 255, 255);
    transition: background-color 1s ease;
    position: fixed;
    display: none;
}

.btt{
    background-color: rgba(255, 255, 255);
    transition: background-color 1s ease;
    position: fixed;
    display: none;
}

.menu.scrolled {
    background-color: black;
}

.btt.scrolled2{
    background-color: black;
}

.menu.scrolled .menuLink1{
    color: white;
    border-bottom: 3px solid black;
}

.btt.scrolled2 .menuLink2{
    color: white;
    border-bottom: 3px solid black;
}

.menu.scrolled .menuLink2{
    color: white;
    border-bottom: 3px solid black;
}

.menu.scrolled .menuLink1:hover{
    color: red;
    border-bottom: 3px solid red;
}

.btt.scrolled2 .menuLink2:hover{
    color: red;
    border-bottom: 3px solid red;
}
.menu.scrolled .menuLink2:hover{
    color: red;
    border-bottom: 3px solid red;
}


.mma{
    font-family: 'DreamMMA';
}
.menuLink1{
    color: black;
    border-bottom: 3px solid white;
    text-decoration: none;
    font-size: xx-large;
    box-sizing: border-box;
}
.menuLink2{
    color: black;
    border-bottom: 3px solid white;
    text-decoration: none;
    font-size: larger;
    box-sizing: border-box;
}

.menuLink1:hover{
    color: red;
    border-bottom: 3px solid red;
}
.menuLink2:hover{
    color: red;
    border-bottom: 3px solid red;
}

.background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 500px;
}
.background5{
    background-image: url('https://www.telemundodeportes.com/sites/default/files/2016/03/06/gettyimages-513970774.jpg');
}
.background2{
    background-image: url('https://th.bing.com/th/id/R.02f47c2663d996a1ac704c4b2df7647a?rik=nXu0FAtdAXFvXw&pid=ImgRaw&r=0');
}
.background3{
    background-image: url('https://th.bing.com/th/id/R.309611f7d8741f2b6d183d33ca88d33d?rik=WT86uPQkPCghAQ&pid=ImgRaw&r=0');
}
.background4{
    background-image: url('https://images3.alphacoders.com/702/702114.jpg');
}
.background1{
    background-image: url('https://i.eurosport.com/2019/03/26/2551921-52937137-1600-900.jpg');
}

.contenido{
    background-color: white;
}

.bgt{
    background-image: url('https://c4.wallpaperflare.com/wallpaper/265/497/125/arts-battle-martial-mma-wallpaper-preview.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.foot{
    height: 400px;
    background-color: black;
}

.link {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.739);
}

.link:hover{
    color: red;
}

.linkFooter {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.739);
}

.linkFooter:hover{
    color: red;
}



.nuevo{
    background-color: red;
}



.info {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

.info caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

.info tr {
    background-color: white;
    border-bottom: 1px solid #ddd;
    padding: .35em;
}

.info tr:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.info th,
.info td {
    padding: .625em;
    text-align: center;
  }
  
  .info th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  
  @media screen and (max-width: 1200px) {
    .info {
      border: 0;
    }
  
    .info caption {
      font-size: 1.3em;
    }
    
    .info thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    .info tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    .info td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    .info td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    .info td:last-child {
      border-bottom: 0;
    }
  }









.card {
    width: 100%;
    margin: 10px 0;
    transition: ease all 1s;
    perspective: 1200px;
}

.card:hover .cover {
    transform: rotateX(0deg) rotateY(-180deg);
}

.card:hover .cover:before {
    transform: translateZ(30px);
}

.card:hover .cover:after {
    background-color: black;
}

.card:hover .cover h1 {
    transform: translateZ(100px);
}

.card:hover .cover .price {
    transform: translateZ(60px);
}

.card:hover .cover a {
    transform: translateZ(-60px) rotatey(-180deg);
}

.cover {
    height: 400px;
    width: 100%;
    transform-style: preserve-3d;
    transition: ease all 1s;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.cover:before {
    content: '';
    position: absolute;
    border: 5px solid rgba(255,255,255,.5);
    box-shadow: 0 0 12px rgba(0,0,0,.3); 
    top:20px;
    left:20px;
    right:20px;
    bottom:20px;
    z-index: 2;
    transition: ease all 1.3s;
    transform-style: preserve-3d;
    transform: translateZ(0px);
}

.cover:after {
    content: '';
    position: absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    z-index: 2;
    transition: ease all 1s;
    background: rgba(0,0,0,.4);
}

.cover.item-a {
    background-image: url('https://c4.wallpaperflare.com/wallpaper/26/170/388/mma-ufc-khabib-nurmagomedov-wallpaper-preview.jpg');
}

.cover.item-b {
    background-image: url('https://e1.pxfuel.com/desktop-wallpaper/418/129/desktop-wallpaper-which-belt-do-you-like-better-ufc-belt.jpg');
}

.cover.item-c {
    background-image: url('https://wallpapercrafter.com/sizes/2560x1440/94221-conor-mcgregor-sports-male-celebrities-ufc-hd-4k-5k-boys.jpg');
}

.cover.item-d{
    background-image: url('https://i2.wp.com/cagefights.s3.us-west-2.amazonaws.com/2019/12/1136954724.jpg.0.jpg?fit=1310%2C873&ssl=1');
}

.cover.item-e{
    background-image: url('https://th.bing.com/th/id/R.5d739b99d96a64c7099a1cd082f053b5?rik=IzlCj6ZKt0gVeA&riu=http%3a%2f%2fmovietvtechgeeks.com%2fwp-content%2fuploads%2f2014%2f09%2fhenderson-versus-rua-II-best-ufc-fights-ever-2014-images.jpg&ehk=8tcch6nivLMaqPn4sBrBiHkrzxGE%2bMy1vMxXFNAdUVw%3d&risl=&pid=ImgRaw&r=0');
}

.cover.item-f{
    background-image: url('https://i.pinimg.com/originals/f7/94/c4/f794c4ea745b8db1711400f640bb349a.jpg');
}

.cover h1 {
    font-weight: 600;
    position: absolute;
    bottom: 55px;
    left: 50px;
    color: white;
    transform-style: preserve-3d;
    transition: ease all 1s;
    z-index: 3;
    font-size: 3em;
    transform: translateZ(0px);
}

.cover .price {
    font-weight: 200;
    position: absolute;
    top: 55px;
    right: 50px;
    color: white;
    transform-style: preserve-3d;
    transition: ease all 1s;
    z-index: 4;
    font-size: 2em;
    transform: translateZ(0px);
}

.cover .card-back{
    position: absolute;
    height: 100%;
    width: 100%;
    background: #0b0f08;
    transform-style: preserve-3d;
    transition: ease all 1s;
    transform: translateZ(-1px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.cover .card-back a{
    transform-style: preserve-3d;
    transition: ease transform 1s, ease background .5s;
    transform: translateZ(-1px) rotatey(-180deg);
    background: transparent;
    border: 1px solid white;
    font-weight: 200;
    font-size: 1.3em;
    color: white;
    padding: 14px 32px;
    outline: none;
    text-decoration: none;
}

.cover .card-back a:hover{
        background-color: white;
        color: #0b0f08;
}

.icono{
    font-size: larger;
}

.form_error{
    color: red;
}



.form-control{
    transition: all 1s;
    border-color: red;
    border: none;
}

.form-control:focus{
    transform: scale(1.02);
    
}